/*imported two styles from google fonts | lato's fontweight is in light 300 style*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* asterisk wildcard selector | overrides default style added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic styling */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

/* header */
header {
    background-color: lightcoral;
}

/* main content */
main {
    background-color: lightblue; 
    /* main content to take up all space so footer gets pushed */
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: orange;
}
